// .home-header-container {
//   //sticky header
//   position: sticky;
//   top: 0;
//   z-index: 1000;
//   background-color: white;
//   //
//   height: 60px;
//   //   border: 1px solid red;
//   width: 100%;
//   padding: 0 30px;
//   .home-header-content {
//     width: 100%;
//     height: 100%;
//     display: flex; //  cung row
//     .left-content {
//       width: 20%;
//       //   border: 1px solid rgb(0, 255, 166);
//       display: flex;
//       align-items: center;
//       padding-left: 90px;
//       .Header-logo {
//         // background: url("../../assets/images/logo.png") center center no-repeat;
//         height: 100%;
//         width: 100%;
//         cursor: pointer;
//         margin-right: 60px;
//         img {
//           height: 100%;
//           margin-left: 20px;
//         }
//       }
//       i {
//         font-size: 25px;
//         color: grey;
//         cursor: pointer;
//       }
//     }
//     .center-content {
//       width: 55%;
//       //   border: 1px solid rgb(255, 0, 153);
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       .child-center-content {
//         font-size: 12px;
//         font-weight: 600;
//         cursor: pointer;
//         span {
//           text-transform: uppercase;
//           color: gray;
//         }
//       }
//     }
//     .right-content {
//       width: 25%;
//       //   border: 1px solid rgb(149, 0, 255);
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       .support {
//         font-size: 20px;
//         i {
//           color: gray;
//           cursor: pointer;
//         }
//       }
//       span {
//         height: 20px;
//         width: 20px;
//         border-radius: 50%;
//         background-color: gray;
//         padding: 5px;
//         cursor: pointer;
//       }
//     }
//   }
// }
.home-header-banner {
  background-image: url("../../assets/images/bannerimg.jpg");
  height: 415px;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //   padding: 15px 0;
  display: flex;
  flex-direction: column;
  .content-up {
    // border: 1px solid red;
    height: 65%;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );
    .title1 {
      color: #fff;
      margin-bottom: 15px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #333;
      font-size: 32px;
      text-align: center;
      margin-top: 79px;
      // border: 1px solid red;
    }
    .title2 {
      color: #fff;
      font-size: 32px;
      margin-bottom: 20px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #333;
      text-align: center;
    }
  }
}
.section-why {
  height: 275px;
  background-color: rgba(170, 177, 193, 1);
  .content-up {
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #333;
    font-size: 32px;
    color: #fff;
    padding: 10px;
  }
  .content-down {
    display: flex;
    gap: 15px;
    padding: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 237px;
    .child-content-up {
      &:hover {
        cursor: pointer;
        .icon {
          color: rgb(68, 0, 255);
        }
        .txt {
          color: rgb(68, 0, 255);
        }
      }
      .icon {
        height: 85px;
        width: 50px;
        margin: 0 auto;
        color: white;
        padding: 10px;
        font-size: 40px;
      }
      .txt {
        width: 116px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}
.section-infor {
  height: 500px;
  background-color: #eeeeee;
}
.home-footer {
  height: 80px;
  background-color: gray;
  padding: 10px 125px;
  display: flex;
  .txt {
    color: white;
  }
  .icon {
    text-align: right;
  }
}
//reset slick-slide-css
